{
  "openapi": "3.0.1",
  "info": {
    "title": "sports-experiment-server",
    "description": "sports-experiment-server",
    "contact": {
      "name": "sports-experiment",
      "url": ""
    },
    "license": {
      "name": "许可协议",
      "url": ""
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://xsyuanxin.com/sports",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/system-api/user/reset-password": {
      "put": {
        "tags": [
          "管理后台 - 用户管理"
        ],
        "summary": "修改系统用户密码",
        "operationId": "updateSystemUserPassword",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemUserPassUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/system-api/user/info": {
      "get": {
        "tags": [
          "管理后台 - 用户管理"
        ],
        "summary": "获取系统用户信息",
        "operationId": "getSystemUserInfo",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultSystemUserInfoRespVO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "管理后台 - 用户管理"
        ],
        "summary": "修改系统用户信息",
        "operationId": "updateSystemUserInfo",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemUserInfoUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/system-api/experiment-config": {
      "get": {
        "tags": [
          "管理后台 - 实验配置"
        ],
        "summary": "获取实验配置信息",
        "operationId": "getExperimentConfigInfo",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultExperimentConfigInfoRespVO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "管理后台 - 实验配置"
        ],
        "summary": "修改实验配置",
        "operationId": "updateExperimentConfig",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExperimentConfigUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/system-api/client/reset-password/{clientUserId}": {
      "put": {
        "tags": [
          "管理后台 - 客户管理"
        ],
        "summary": "修改客户端用户密码",
        "operationId": "updateClientUserPassword",
        "parameters": [
          {
            "name": "clientUserId",
            "in": "path",
            "description": "用户编号",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientManagePassUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/system-api/client/info/{clientUserId}": {
      "put": {
        "tags": [
          "管理后台 - 客户管理"
        ],
        "summary": "修改客户端用户信息",
        "operationId": "updateClientUserInfo",
        "parameters": [
          {
            "name": "clientUserId",
            "in": "path",
            "description": "用户编号",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientManageInfoUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/system-api/client/expiration/{clientUserId}": {
      "put": {
        "tags": [
          "管理后台 - 客户管理"
        ],
        "summary": "修改客户端用户过期时间",
        "operationId": "updateClientUserExpire",
        "parameters": [
          {
            "name": "clientUserId",
            "in": "path",
            "description": "用户编号",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "expireTime",
            "in": "query",
            "description": "过期日期，格式：yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/system-api/client/disable/{clientUserId}": {
      "put": {
        "tags": [
          "管理后台 - 客户管理"
        ],
        "summary": "修改客户端用户状态",
        "operationId": "updateClientUserStatus",
        "parameters": [
          {
            "name": "clientUserId",
            "in": "path",
            "description": "用户编号",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/client-api/user/reset-password": {
      "put": {
        "tags": [
          "用户前台 - 用户管理"
        ],
        "summary": "修改系统用户密码",
        "operationId": "updateClientUserPassword_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientUserPassUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/client-api/user/info": {
      "get": {
        "tags": [
          "用户前台 - 用户管理"
        ],
        "summary": "获取客户端用户信息",
        "operationId": "getClientUserInfo_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultClientUserInfoRespVO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "用户前台 - 用户管理"
        ],
        "summary": "修改客户端用户信息",
        "operationId": "updateClientUserInfo_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientUserInfoUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/system-api/user/logout": {
      "post": {
        "tags": [
          "管理后台 - 用户管理"
        ],
        "summary": "退出登录",
        "operationId": "logout",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/system-api/user/login": {
      "post": {
        "tags": [
          "管理后台 - 用户管理"
        ],
        "summary": "系统用户账号密码登录",
        "operationId": "login",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemUserLoginReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultSystemUserLoginRespVO"
                }
              }
            }
          }
        }
      }
    },
    "/system-api/client/add": {
      "post": {
        "tags": [
          "管理后台 - 客户管理"
        ],
        "summary": "添加客户端用户",
        "operationId": "addClientUser",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientManageAddReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/client-api/user/logout": {
      "post": {
        "tags": [
          "用户前台 - 用户管理"
        ],
        "summary": "退出登录",
        "operationId": "logout_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/client-api/user/login": {
      "post": {
        "tags": [
          "用户前台 - 用户管理"
        ],
        "summary": "客户端用户账号密码登录",
        "operationId": "login_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientUserLoginReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultClientUserLoginRespVO"
                }
              }
            }
          }
        }
      }
    },
    "/client-api/experiment/save": {
      "post": {
        "tags": [
          "用户前台 - 实验数据"
        ],
        "summary": "实验数据保存",
        "operationId": "experimentDataSave",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExperimentDataSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/system-api/login-log/page-list": {
      "get": {
        "tags": [
          "管理后台 - 登录日志"
        ],
        "summary": "查询登录日志分页列表",
        "operationId": "getLoginLogPageList",
        "parameters": [
          {
            "name": "reqVO",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/LoginLogPageReqVO"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultCommonPageResultLoginLogPageRespVO"
                }
              }
            }
          }
        }
      }
    },
    "/system-api/login-log/info/{loginLogId}": {
      "get": {
        "tags": [
          "管理后台 - 登录日志"
        ],
        "summary": "查询登录日志详细信息",
        "operationId": "getLoginLogInfo",
        "parameters": [
          {
            "name": "loginLogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultLoginLogInfoRespVO"
                }
              }
            }
          }
        }
      }
    },
    "/system-api/error-log/page-list": {
      "get": {
        "tags": [
          "管理后台 - API 异常日志"
        ],
        "summary": "查询 API 异常日志分页列表",
        "operationId": "getErrorPageList",
        "parameters": [
          {
            "name": "reqVO",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ErrorLogPageReqVO"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultCommonPageResultErrorLogPageRespVO"
                }
              }
            }
          }
        }
      }
    },
    "/system-api/error-log/info/{errorLogId}": {
      "get": {
        "tags": [
          "管理后台 - API 异常日志"
        ],
        "summary": "查询 API 异常日志详细信息",
        "operationId": "getErrorLogInfo",
        "parameters": [
          {
            "name": "errorLogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultErrorLogInfoRespVO"
                }
              }
            }
          }
        }
      }
    },
    "/system-api/client/page-list": {
      "get": {
        "tags": [
          "管理后台 - 客户管理"
        ],
        "summary": "获取客户端分页列表",
        "operationId": "getClientUserList",
        "parameters": [
          {
            "name": "reqVO",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ClientManagePageReqVO"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultCommonPageResultClientManageInfoRespVO"
                }
              }
            }
          }
        }
      }
    },
    "/system-api/client/get-info/{clientUserId}": {
      "get": {
        "tags": [
          "管理后台 - 客户管理"
        ],
        "summary": "获取客户端用户信息",
        "operationId": "getClientUserInfo",
        "parameters": [
          {
            "name": "clientUserId",
            "in": "path",
            "description": "用户编号",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultClientManageInfoRespVO"
                }
              }
            }
          }
        }
      }
    },
    "/system-api/access-log/page-list": {
      "get": {
        "tags": [
          "管理后台 - API 访问日志"
        ],
        "summary": "查询 API 访问日志分页列表",
        "operationId": "getAccessLogList",
        "parameters": [
          {
            "name": "reqVO",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AccessLogPageReqVO"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultCommonPageResultAccessLogPageRespVO"
                }
              }
            }
          }
        }
      }
    },
    "/system-api/access-log/info/{accessLogId}": {
      "get": {
        "tags": [
          "管理后台 - API 访问日志"
        ],
        "summary": "查询 API 访问日志详细信息",
        "operationId": "getAccessLogInfo",
        "parameters": [
          {
            "name": "accessLogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultAccessLogInfoRespVO"
                }
              }
            }
          }
        }
      }
    },
    "/client-api/experiment/search": {
      "get": {
        "tags": [
          "用户前台 - 实验数据"
        ],
        "summary": "实验数据搜索",
        "operationId": "experimentSearch",
        "parameters": [
          {
            "name": "searchContent",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultExperimentSearchRepsVO"
                }
              }
            }
          }
        }
      }
    },
    "/system-api/client/{clientUserId}": {
      "delete": {
        "tags": [
          "管理后台 - 客户管理"
        ],
        "summary": "删除客户端用户",
        "operationId": "deleteClientUser",
        "parameters": [
          {
            "name": "clientUserId",
            "in": "path",
            "description": "用户编号",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultObject"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultBoolean"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResultObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "状态码",
            "format": "int32"
          },
          "msg": {
            "type": "string",
            "description": "描述信息"
          },
          "data": {
            "type": "object",
            "description": "返回数据"
          }
        },
        "description": "统一返回参数"
      },
      "SystemUserPassUpdateReqVO": {
        "required": [
          "confirmPassword",
          "newPassword",
          "oldPassword"
        ],
        "type": "object",
        "properties": {
          "oldPassword": {
            "type": "string",
            "description": "旧密码",
            "example": "admin"
          },
          "newPassword": {
            "type": "string",
            "description": "新密码",
            "example": "admin"
          },
          "confirmPassword": {
            "type": "string",
            "description": "确认密码",
            "example": "admin"
          }
        },
        "description": "系统用户密码修改 Request VO"
      },
      "ResultBoolean": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "状态码",
            "format": "int32"
          },
          "msg": {
            "type": "string",
            "description": "描述信息"
          },
          "data": {
            "type": "boolean",
            "description": "返回数据"
          }
        },
        "description": "统一返回参数"
      },
      "SystemUserInfoUpdateReqVO": {
        "required": [
          "avatar",
          "description",
          "nickname"
        ],
        "type": "object",
        "properties": {
          "nickname": {
            "type": "string",
            "description": "用户昵称",
            "example": "admin"
          },
          "avatar": {
            "type": "string",
            "description": "用户头像",
            "example": "http://xxx.com/xx.png"
          },
          "description": {
            "type": "string",
            "description": "用户简介",
            "example": "简介信息"
          }
        },
        "description": "系统用户信息修改 Request VO"
      },
      "ExperimentConfigUpdateReqVO": {
        "required": [
          "minStorageCount"
        ],
        "type": "object",
        "properties": {
          "minStorageCount": {
            "type": "integer",
            "description": "最低存储数量",
            "format": "int64",
            "example": 100000
          }
        },
        "description": "实验配置修改 Request VO"
      },
      "ClientManagePassUpdateReqVO": {
        "required": [
          "confirmPassword",
          "newPassword",
          "oldPassword"
        ],
        "type": "object",
        "properties": {
          "oldPassword": {
            "type": "string",
            "description": "旧密码",
            "example": "admin"
          },
          "newPassword": {
            "type": "string",
            "description": "新密码",
            "example": "admin"
          },
          "confirmPassword": {
            "type": "string",
            "description": "确认密码",
            "example": "admin"
          }
        },
        "description": "客户端用户密码修改 Request VO"
      },
      "ClientManageInfoUpdateReqVO": {
        "required": [
          "avatar",
          "description",
          "nickname",
          "username"
        ],
        "type": "object",
        "properties": {
          "username": {
            "pattern": "^[A-Za-z0-9]+$",
            "type": "string",
            "description": "用户账号",
            "example": "zhangsan"
          },
          "nickname": {
            "type": "string",
            "description": "用户昵称",
            "example": "admin"
          },
          "avatar": {
            "type": "string",
            "description": "用户头像",
            "example": "http://xxx.com/xx.png"
          },
          "description": {
            "type": "string",
            "description": "用户简介",
            "example": "简介信息"
          }
        },
        "description": "客户端用户信息修改 Request VO"
      },
      "ClientUserPassUpdateReqVO": {
        "required": [
          "confirmPassword",
          "newPassword",
          "oldPassword"
        ],
        "type": "object",
        "properties": {
          "oldPassword": {
            "type": "string",
            "description": "旧密码",
            "example": "admin"
          },
          "newPassword": {
            "type": "string",
            "description": "新密码",
            "example": "admin"
          },
          "confirmPassword": {
            "type": "string",
            "description": "确认密码",
            "example": "admin"
          }
        },
        "description": "客户端用户密码修改 Request VO"
      },
      "ClientUserInfoUpdateReqVO": {
        "required": [
          "avatar",
          "description",
          "nickname"
        ],
        "type": "object",
        "properties": {
          "nickname": {
            "type": "string",
            "description": "用户昵称",
            "example": "admin"
          },
          "avatar": {
            "type": "string",
            "description": "用户头像",
            "example": "http://xxx.com/xx.png"
          },
          "description": {
            "type": "string",
            "description": "用户简介",
            "example": "简介信息"
          }
        },
        "description": "客户端用户信息修改 Request VO"
      },
      "SystemUserLoginReqVO": {
        "required": [
          "password",
          "username"
        ],
        "type": "object",
        "properties": {
          "username": {
            "pattern": "^[A-Za-z0-9]+$",
            "type": "string",
            "description": "登录账号",
            "example": "admin"
          },
          "password": {
            "type": "string",
            "description": "登录密码",
            "example": "admin"
          }
        },
        "description": "系统用户登录 Request VO"
      },
      "ResultSystemUserLoginRespVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "状态码",
            "format": "int32"
          },
          "msg": {
            "type": "string",
            "description": "描述信息"
          },
          "data": {
            "$ref": "#/components/schemas/SystemUserLoginRespVO"
          }
        },
        "description": "统一返回参数"
      },
      "SystemUserLoginRespVO": {
        "required": [
          "token"
        ],
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "登录账号",
            "example": "token 令牌"
          }
        },
        "description": "系统用户登录 Response VO"
      },
      "ClientManageAddReqVO": {
        "required": [
          "avatar",
          "password",
          "username"
        ],
        "type": "object",
        "properties": {
          "username": {
            "pattern": "^[A-Za-z0-9]+$",
            "type": "string",
            "description": "账号",
            "example": "zhangsan"
          },
          "password": {
            "type": "string",
            "description": "密码",
            "example": "123456"
          },
          "avatar": {
            "type": "string",
            "description": "头像",
            "example": "https://xsyuanxin.com/aaa.jpg"
          }
        },
        "description": "客户端用户添加 Request VO"
      },
      "ClientUserLoginReqVO": {
        "required": [
          "password",
          "username"
        ],
        "type": "object",
        "properties": {
          "username": {
            "pattern": "^[A-Za-z0-9]+$",
            "type": "string",
            "description": "登录账号",
            "example": "admin"
          },
          "password": {
            "type": "string",
            "description": "登录密码",
            "example": "admin"
          }
        },
        "description": "客户端用户登录 Request VO"
      },
      "ClientUserLoginRespVO": {
        "required": [
          "token"
        ],
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "登录账号",
            "example": "token 令牌"
          }
        },
        "description": "客户端用户登录 Response VO"
      },
      "ResultClientUserLoginRespVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "状态码",
            "format": "int32"
          },
          "msg": {
            "type": "string",
            "description": "描述信息"
          },
          "data": {
            "$ref": "#/components/schemas/ClientUserLoginRespVO"
          }
        },
        "description": "统一返回参数"
      },
      "ExperimentDataSaveReqVO": {
        "required": [
          "experimentData"
        ],
        "type": "object",
        "properties": {
          "experimentData": {
            "type": "string",
            "description": "实验数据",
            "example": "1001"
          }
        },
        "description": "实验数据保存 Request VO"
      },
      "ResultSystemUserInfoRespVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "状态码",
            "format": "int32"
          },
          "msg": {
            "type": "string",
            "description": "描述信息"
          },
          "data": {
            "$ref": "#/components/schemas/SystemUserInfoRespVO"
          }
        },
        "description": "统一返回参数"
      },
      "SystemUserInfoRespVO": {
        "required": [
          "avatar",
          "createTime",
          "description",
          "id",
          "loginDate",
          "loginIp",
          "nickname",
          "status",
          "username"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "用户编号",
            "format": "int64",
            "example": 1
          },
          "username": {
            "type": "string",
            "description": "用户名",
            "example": "admin"
          },
          "nickname": {
            "type": "string",
            "description": "用户昵称",
            "example": "admin"
          },
          "status": {
            "type": "integer",
            "description": "用户状态 0 启用 1 禁用",
            "format": "int32",
            "example": 0
          },
          "avatar": {
            "type": "string",
            "description": "用户头像"
          },
          "loginIp": {
            "type": "string",
            "description": "最后登录IP",
            "example": "192.168.1.1"
          },
          "loginDate": {
            "type": "string",
            "description": "最后登录时间",
            "format": "date-time"
          },
          "createTime": {
            "type": "string",
            "description": "创建时间",
            "format": "date-time"
          },
          "description": {
            "type": "string",
            "description": "用户简介"
          }
        },
        "description": "系统用户信息 Response VO"
      },
      "LoginLogPageReqVO": {
        "required": [
          "pageNum",
          "pageSize",
          "userIp",
          "username"
        ],
        "type": "object",
        "properties": {
          "pageNum": {
            "minimum": 1,
            "type": "integer",
            "description": "页码, 默认为 1",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "minimum": 1,
            "type": "integer",
            "description": "每页条数, 默认为 10",
            "format": "int32",
            "example": 1
          },
          "username": {
            "type": "string",
            "description": "用户账号",
            "example": "张三"
          },
          "userIp": {
            "type": "string",
            "description": "用户 IP",
            "example": "192.168.1.1"
          },
          "beginTime": {
            "type": "string",
            "description": "开始登录时间",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "description": "结束登录时间",
            "format": "date-time"
          }
        },
        "description": "登录日志分页列表 Request VO"
      },
      "CommonPageInfo": {
        "required": [
          "pageNum",
          "pageSize",
          "total"
        ],
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "总条数",
            "format": "int64"
          },
          "pageNum": {
            "type": "integer",
            "description": "当前页码",
            "format": "int64"
          },
          "pageSize": {
            "type": "integer",
            "description": "每页数量",
            "format": "int64"
          }
        },
        "description": "分页信息"
      },
      "CommonPageResultLoginLogPageRespVO": {
        "required": [
          "list"
        ],
        "type": "object",
        "properties": {
          "list": {
            "type": "array",
            "description": "分页数据",
            "items": {
              "$ref": "#/components/schemas/LoginLogPageRespVO"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/CommonPageInfo"
          }
        },
        "description": "分页结果"
      },
      "LoginLogPageRespVO": {
        "required": [
          "id",
          "logType",
          "result",
          "userId",
          "userIp",
          "userType",
          "username"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "登录日志编号",
            "format": "int64",
            "example": 1
          },
          "userId": {
            "type": "integer",
            "description": "用户编号",
            "format": "int64",
            "example": 1
          },
          "username": {
            "type": "string",
            "description": "用户账号",
            "example": "张三"
          },
          "userIp": {
            "type": "string",
            "description": "用户 IP",
            "example": "192.168.1.1"
          },
          "logType": {
            "type": "integer",
            "description": "日志类型 100 账号登录 200 主动退出",
            "format": "int32",
            "example": 100
          },
          "userType": {
            "type": "integer",
            "description": "用户类型 1 服务端用户 2 客户端用户",
            "format": "int32",
            "example": 1
          },
          "result": {
            "type": "integer",
            "description": "登录结果",
            "format": "int32",
            "example": 0
          },
          "createTime": {
            "type": "string",
            "format": "date-time"
          }
        },
        "description": "登录日志分页列表 Request VO"
      },
      "ResultCommonPageResultLoginLogPageRespVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "状态码",
            "format": "int32"
          },
          "msg": {
            "type": "string",
            "description": "描述信息"
          },
          "data": {
            "$ref": "#/components/schemas/CommonPageResultLoginLogPageRespVO"
          }
        },
        "description": "统一返回参数"
      },
      "LoginLogInfoRespVO": {
        "required": [
          "id",
          "logType",
          "result",
          "userAgent",
          "userId",
          "userIp",
          "userType",
          "username"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "登录日志编号",
            "format": "int64",
            "example": 1
          },
          "userId": {
            "type": "integer",
            "description": "用户编号",
            "format": "int64",
            "example": 1
          },
          "username": {
            "type": "string",
            "description": "用户账号",
            "example": "张三"
          },
          "userIp": {
            "type": "string",
            "description": "用户 IP",
            "example": "192.168.1.1"
          },
          "logType": {
            "type": "integer",
            "description": "日志类型 100 账号登录 200 主动退出",
            "format": "int32",
            "example": 100
          },
          "userType": {
            "type": "integer",
            "description": "用户类型 1 服务端用户 2 客户端用户",
            "format": "int32",
            "example": 1
          },
          "result": {
            "type": "integer",
            "description": "登录结果",
            "format": "int32",
            "example": 0
          },
          "userAgent": {
            "type": "string",
            "description": "浏览器 UA"
          },
          "createTime": {
            "type": "string",
            "format": "date-time"
          }
        },
        "description": "管理后台 - 登录日志信息 Response VO"
      },
      "ResultLoginLogInfoRespVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "状态码",
            "format": "int32"
          },
          "msg": {
            "type": "string",
            "description": "描述信息"
          },
          "data": {
            "$ref": "#/components/schemas/LoginLogInfoRespVO"
          }
        },
        "description": "统一返回参数"
      },
      "ExperimentConfigInfoRespVO": {
        "required": [
          "minStorageCount"
        ],
        "type": "object",
        "properties": {
          "minStorageCount": {
            "type": "integer",
            "description": "最低存储数量",
            "format": "int64",
            "example": 100000
          }
        },
        "description": "实验配置信息 Response VO"
      },
      "ResultExperimentConfigInfoRespVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "状态码",
            "format": "int32"
          },
          "msg": {
            "type": "string",
            "description": "描述信息"
          },
          "data": {
            "$ref": "#/components/schemas/ExperimentConfigInfoRespVO"
          }
        },
        "description": "统一返回参数"
      },
      "ErrorLogPageReqVO": {
        "required": [
          "pageNum",
          "pageSize"
        ],
        "type": "object",
        "properties": {
          "pageNum": {
            "minimum": 1,
            "type": "integer",
            "description": "页码, 默认为 1",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "minimum": 1,
            "type": "integer",
            "description": "每页条数, 默认为 10",
            "format": "int32",
            "example": 1
          },
          "requestUrl": {
            "type": "string",
            "description": "请求地址",
            "example": "/xxx"
          },
          "requestMethod": {
            "type": "string",
            "description": "请求方法",
            "example": "post"
          },
          "exceptionBeginTime": {
            "type": "string",
            "description": "异常发生时间",
            "format": "date-time"
          },
          "exceptionEndTime": {
            "type": "string",
            "description": "异常结束时间",
            "format": "date-time"
          }
        },
        "description": "异常日志分页列表 Request VO"
      },
      "CommonPageResultErrorLogPageRespVO": {
        "required": [
          "list"
        ],
        "type": "object",
        "properties": {
          "list": {
            "type": "array",
            "description": "分页数据",
            "items": {
              "$ref": "#/components/schemas/ErrorLogPageRespVO"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/CommonPageInfo"
          }
        },
        "description": "分页结果"
      },
      "ErrorLogPageRespVO": {
        "required": [
          "exceptionClassName",
          "exceptionName",
          "exceptionTime",
          "id",
          "requestMethod",
          "requestUrl"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "异常日志编号",
            "format": "int64",
            "example": 1
          },
          "requestUrl": {
            "type": "string",
            "description": "请求地址",
            "example": "/aaa/bbb"
          },
          "requestMethod": {
            "type": "string",
            "description": "请求方法",
            "example": "GET"
          },
          "exceptionTime": {
            "type": "string",
            "description": "异常发生时间",
            "format": "date-time"
          },
          "exceptionName": {
            "type": "string",
            "description": "异常名",
            "example": "管理后台 - 访问日志分页列表"
          },
          "exceptionClassName": {
            "type": "string",
            "description": "异常名",
            "example": "客户端用户账号密码登录"
          }
        },
        "description": "管理后台 - 异常日志分页列表 Response VO"
      },
      "ResultCommonPageResultErrorLogPageRespVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "状态码",
            "format": "int32"
          },
          "msg": {
            "type": "string",
            "description": "描述信息"
          },
          "data": {
            "$ref": "#/components/schemas/CommonPageResultErrorLogPageRespVO"
          }
        },
        "description": "统一返回参数"
      },
      "ErrorLogInfoRespVO": {
        "required": [
          "exceptionClassName",
          "exceptionFileName",
          "exceptionLineNumber",
          "exceptionMessage",
          "exceptionMethodName",
          "exceptionName",
          "exceptionRootCauseMessage",
          "exceptionStackTrace",
          "exceptionTime",
          "id",
          "requestIp",
          "requestMethod",
          "requestParams",
          "requestUrl",
          "userAgent"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "异常日志编号",
            "format": "int64",
            "example": 1
          },
          "requestUrl": {
            "type": "string",
            "description": "请求地址",
            "example": "/aaa/bbb"
          },
          "requestMethod": {
            "type": "string",
            "description": "请求方法",
            "example": "GET"
          },
          "requestParams": {
            "type": "string",
            "description": "请求参数",
            "example": "{}"
          },
          "requestIp": {
            "type": "string",
            "description": "ip地址",
            "example": "0:0:0:0:0:0:0:1"
          },
          "userAgent": {
            "type": "string",
            "description": "浏览器 UA"
          },
          "exceptionTime": {
            "type": "string",
            "description": "异常发生时间",
            "format": "date-time"
          },
          "exceptionName": {
            "type": "string",
            "description": "异常名",
            "example": "管理后台 - 访问日志分页列表"
          },
          "exceptionClassName": {
            "type": "string",
            "description": "异常名",
            "example": "客户端用户账号密码登录"
          },
          "exceptionFileName": {
            "type": "string",
            "description": "异常发生的类文件",
            "example": "TestController.java"
          },
          "exceptionMethodName": {
            "type": "string",
            "description": "异常发生的方法名",
            "example": "test"
          },
          "exceptionLineNumber": {
            "type": "integer",
            "description": "异常发生的方法所在行",
            "format": "int32",
            "example": 13
          },
          "exceptionStackTrace": {
            "type": "string",
            "description": "异常的栈轨迹"
          },
          "exceptionRootCauseMessage": {
            "type": "string",
            "description": "异常导致的根消息"
          },
          "exceptionMessage": {
            "type": "string",
            "description": "异常导致的消息"
          }
        },
        "description": "管理后台 - 异常日志信息 Response VO"
      },
      "ResultErrorLogInfoRespVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "状态码",
            "format": "int32"
          },
          "msg": {
            "type": "string",
            "description": "描述信息"
          },
          "data": {
            "$ref": "#/components/schemas/ErrorLogInfoRespVO"
          }
        },
        "description": "统一返回参数"
      },
      "ClientManagePageReqVO": {
        "required": [
          "pageNum",
          "pageSize"
        ],
        "type": "object",
        "properties": {
          "pageNum": {
            "minimum": 1,
            "type": "integer",
            "description": "页码, 默认为 1",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "minimum": 1,
            "type": "integer",
            "description": "每页条数, 默认为 10",
            "format": "int32",
            "example": 1
          },
          "username": {
            "type": "string",
            "description": "用户名",
            "example": "admin"
          }
        },
        "description": "客户分页列表 Request VO"
      },
      "ClientManageInfoRespVO": {
        "required": [
          "avatar",
          "createTime",
          "description",
          "expireTime",
          "id",
          "isExpire",
          "loginDate",
          "loginIp",
          "nickname",
          "status",
          "username"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "用户编号",
            "format": "int64",
            "example": 1
          },
          "username": {
            "type": "string",
            "description": "用户名",
            "example": "admin"
          },
          "nickname": {
            "type": "string",
            "description": "用户昵称",
            "example": "admin"
          },
          "avatar": {
            "type": "string",
            "description": "用户头像"
          },
          "status": {
            "type": "integer",
            "description": "用户状态 0 启用 1 禁用",
            "format": "int32",
            "example": 0
          },
          "expireTime": {
            "type": "string",
            "description": "过期时间",
            "format": "date-time"
          },
          "isExpire": {
            "type": "boolean",
            "description": "是否过期 false 未过期 true 已过期",
            "example": false
          },
          "loginIp": {
            "type": "string",
            "description": "最后登录IP",
            "example": "192.168.1.1"
          },
          "loginDate": {
            "type": "string",
            "description": "最后登录时间",
            "format": "date-time"
          },
          "createTime": {
            "type": "string",
            "description": "创建时间",
            "format": "date-time"
          },
          "description": {
            "type": "string",
            "description": "用户简介"
          }
        },
        "description": "客户端用户信息 Response VO"
      },
      "CommonPageResultClientManageInfoRespVO": {
        "required": [
          "list"
        ],
        "type": "object",
        "properties": {
          "list": {
            "type": "array",
            "description": "分页数据",
            "items": {
              "$ref": "#/components/schemas/ClientManageInfoRespVO"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/CommonPageInfo"
          }
        },
        "description": "分页结果"
      },
      "ResultCommonPageResultClientManageInfoRespVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "状态码",
            "format": "int32"
          },
          "msg": {
            "type": "string",
            "description": "描述信息"
          },
          "data": {
            "$ref": "#/components/schemas/CommonPageResultClientManageInfoRespVO"
          }
        },
        "description": "统一返回参数"
      },
      "ResultClientManageInfoRespVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "状态码",
            "format": "int32"
          },
          "msg": {
            "type": "string",
            "description": "描述信息"
          },
          "data": {
            "$ref": "#/components/schemas/ClientManageInfoRespVO"
          }
        },
        "description": "统一返回参数"
      },
      "AccessLogPageReqVO": {
        "required": [
          "pageNum",
          "pageSize"
        ],
        "type": "object",
        "properties": {
          "pageNum": {
            "minimum": 1,
            "type": "integer",
            "description": "页码, 默认为 1",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "minimum": 1,
            "type": "integer",
            "description": "每页条数, 默认为 10",
            "format": "int32",
            "example": 1
          },
          "requestUrl": {
            "type": "string",
            "description": "请求地址",
            "example": "/xxx"
          },
          "requestMethod": {
            "type": "string",
            "description": "请求方法",
            "example": "post"
          },
          "beginTime": {
            "type": "string",
            "description": "开始请求时间",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "description": "结束请求时间",
            "format": "date-time"
          },
          "resultCode": {
            "type": "integer",
            "description": "结果码",
            "format": "int32",
            "example": 200
          }
        },
        "description": "访问日志分页列表 Request VO"
      },
      "AccessLogPageRespVO": {
        "required": [
          "beginTime",
          "duration",
          "id",
          "operateModule",
          "operateName",
          "operateType",
          "requestMethod",
          "requestUrl"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "访问日志编号",
            "format": "int64",
            "example": 1
          },
          "requestUrl": {
            "type": "string",
            "description": "请求地址",
            "example": "/aaa/bbb"
          },
          "requestMethod": {
            "type": "string",
            "description": "请求方法",
            "example": "GET"
          },
          "operateModule": {
            "type": "string",
            "description": "操作模块",
            "example": "管理后台 - 访问日志分页列表"
          },
          "operateName": {
            "type": "string",
            "description": "操作名",
            "example": "客户端用户账号密码登录"
          },
          "operateType": {
            "type": "integer",
            "description": "操作类型 0 其他 1 查询 2 新增 3 修改 4 删除 5 导出 6 导入",
            "format": "int32",
            "example": 1
          },
          "beginTime": {
            "type": "string",
            "description": "开始请求时间",
            "format": "date-time"
          },
          "duration": {
            "type": "integer",
            "description": "执行时间",
            "format": "int32",
            "example": 0
          }
        },
        "description": "管理后台 - 访问日志分页列表 Response VO"
      },
      "CommonPageResultAccessLogPageRespVO": {
        "required": [
          "list"
        ],
        "type": "object",
        "properties": {
          "list": {
            "type": "array",
            "description": "分页数据",
            "items": {
              "$ref": "#/components/schemas/AccessLogPageRespVO"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/CommonPageInfo"
          }
        },
        "description": "分页结果"
      },
      "ResultCommonPageResultAccessLogPageRespVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "状态码",
            "format": "int32"
          },
          "msg": {
            "type": "string",
            "description": "描述信息"
          },
          "data": {
            "$ref": "#/components/schemas/CommonPageResultAccessLogPageRespVO"
          }
        },
        "description": "统一返回参数"
      },
      "AccessLogInfoRespVO": {
        "required": [
          "beginTime",
          "duration",
          "endTime",
          "id",
          "operateModule",
          "operateName",
          "operateType",
          "requestIp",
          "requestMethod",
          "requestParams",
          "requestUrl",
          "responseBody",
          "resultCode",
          "resultMsg",
          "userAgent"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "访问日志编号",
            "format": "int64",
            "example": 1
          },
          "requestUrl": {
            "type": "string",
            "description": "请求地址",
            "example": "/aaa/bbb"
          },
          "requestMethod": {
            "type": "string",
            "description": "请求方法",
            "example": "GET"
          },
          "requestParams": {
            "type": "string",
            "description": "请求参数",
            "example": "{}"
          },
          "responseBody": {
            "type": "string",
            "description": "响应结果"
          },
          "requestIp": {
            "type": "string",
            "description": "ip地址",
            "example": "0:0:0:0:0:0:0:1"
          },
          "userAgent": {
            "type": "string",
            "description": "浏览器 UA"
          },
          "operateModule": {
            "type": "string",
            "description": "操作模块",
            "example": "管理后台 - 访问日志分页列表"
          },
          "operateName": {
            "type": "string",
            "description": "操作名",
            "example": "客户端用户账号密码登录"
          },
          "operateType": {
            "type": "integer",
            "description": "操作类型 0 其他 1 查询 2 新增 3 修改 4 删除 5 导出 6 导入",
            "format": "int32",
            "example": 1
          },
          "beginTime": {
            "type": "string",
            "description": "开始请求时间",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "description": "结束请求时间",
            "format": "date-time"
          },
          "duration": {
            "type": "integer",
            "description": "执行时间",
            "format": "int32",
            "example": 0
          },
          "resultCode": {
            "type": "string",
            "description": "响应码",
            "example": "200"
          },
          "resultMsg": {
            "type": "string",
            "description": "响应消息",
            "example": "成功"
          }
        },
        "description": "管理后台 - 访问日志信息 Response VO"
      },
      "ResultAccessLogInfoRespVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "状态码",
            "format": "int32"
          },
          "msg": {
            "type": "string",
            "description": "描述信息"
          },
          "data": {
            "$ref": "#/components/schemas/AccessLogInfoRespVO"
          }
        },
        "description": "统一返回参数"
      },
      "ClientUserInfoRespVO": {
        "required": [
          "avatar",
          "createTime",
          "description",
          "expireTime",
          "id",
          "loginDate",
          "loginIp",
          "nickname",
          "status",
          "username"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "用户编号",
            "format": "int64",
            "example": 1
          },
          "username": {
            "type": "string",
            "description": "用户名",
            "example": "admin"
          },
          "nickname": {
            "type": "string",
            "description": "用户昵称",
            "example": "admin"
          },
          "avatar": {
            "type": "string",
            "description": "用户头像"
          },
          "status": {
            "type": "integer",
            "description": "用户状态 0 启用 1 禁用",
            "format": "int32",
            "example": 0
          },
          "expireTime": {
            "type": "string",
            "description": "过期时间",
            "format": "date-time"
          },
          "loginIp": {
            "type": "string",
            "description": "最后登录IP",
            "example": "192.168.1.1"
          },
          "loginDate": {
            "type": "string",
            "description": "最后登录时间",
            "format": "date-time"
          },
          "createTime": {
            "type": "string",
            "description": "创建时间",
            "format": "date-time"
          },
          "description": {
            "type": "string",
            "description": "用户简介"
          }
        },
        "description": "客户端用户信息 Response VO"
      },
      "ResultClientUserInfoRespVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "状态码",
            "format": "int32"
          },
          "msg": {
            "type": "string",
            "description": "描述信息"
          },
          "data": {
            "$ref": "#/components/schemas/ClientUserInfoRespVO"
          }
        },
        "description": "统一返回参数"
      },
      "ExperimentSearchRepsVO": {
        "required": [
          "experimentData",
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "搜索结果 ID",
            "format": "int64",
            "example": 1
          },
          "experimentData": {
            "type": "string",
            "description": "搜索结果",
            "example": "01100101110"
          }
        },
        "description": "实验搜索结果 Response VO"
      },
      "ResultExperimentSearchRepsVO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "状态码",
            "format": "int32"
          },
          "msg": {
            "type": "string",
            "description": "描述信息"
          },
          "data": {
            "$ref": "#/components/schemas/ExperimentSearchRepsVO"
          }
        },
        "description": "统一返回参数"
      }
    }
  },
  "x-openapi": {
    "x-setting": {
      "customCode": 200,
      "language": "zh-CN",
      "enableSwaggerModels": true,
      "swaggerModelName": "Swagger Models",
      "enableReloadCacheParameter": false,
      "enableAfterScript": true,
      "enableDocumentManage": true,
      "enableVersion": false,
      "enableRequestCache": true,
      "enableFilterMultipartApis": false,
      "enableFilterMultipartApiMethodType": "POST",
      "enableHost": false,
      "enableHostText": "",
      "enableDynamicParameter": false,
      "enableDebug": true,
      "enableFooter": true,
      "enableFooterCustom": false,
      "enableSearch": true,
      "enableOpenApi": true,
      "enableHomeCustom": false,
      "enableGroup": true,
      "enableResponseCode": true
    },
    "x-markdownFiles": []
  }
}
