{
  "openapi": "3.0.0",
  "info": {
    "title": "API для работы с CRM \"Мой Класс\"",
    "version": "1.1.7",
    "x-logo": {
      "url": "logo.gif",
      "altText": "Мой Класс",
      "href": "https://moyklass.com"
    }
  },
  "servers": [
    {
      "url": "https://api.moyklass.com",
      "description": "Основной сервер"
    }
  ],
  "security": [
    {
      "companyApiKey": []
    }
  ],
  "x-tagGroups": [
    {
      "name": "API Компании",
      "tags": [
        "companyAuth",
        "rateLimit",
        "company",
        "managers",
        "users",
        "payments",
        "invoices",
        "joins",
        "tasks",
        "groups",
        "lessons",
        "catalog",
        "files",
        "subscriptions",
        "userSubscriptions",
        "userComments",
        "documents",
        "cashboxes"
      ]
    },
    {
      "name": "API ученика",
      "tags": [
        "userAuth",
        "userCommon",
        "userPayments",
        "userLessons",
        "userFiles"
      ]
    }
  ],
  "tags": [
    {
      "name": "rateLimit",
      "x-displayName": "Ограничения",
      "description": "На запросы к API действует ограничение не более 7 запросов в секунду.",
      "x-traitTag": true
    },
    {
      "name": "companyAuth",
      "x-displayName": "Авторизация"
    },
    {
      "name": "company",
      "x-displayName": "Компания"
    },
    {
      "name": "users",
      "x-displayName": "Ученики/лиды",
      "description": "В системе \"клиент\" и \"лид\" - это один и тот же \"ученик\", просто находящийся в разных статусах.\n\nПодробнее: https://help.moyklass.com/hc/ru/articles/360011599159\n"
    },
    {
      "name": "payments",
      "x-displayName": "Платежи"
    },
    {
      "name": "invoices",
      "x-displayName": "Счета"
    },
    {
      "name": "managers",
      "x-displayName": "Сотрудники"
    },
    {
      "name": "joins",
      "x-displayName": "Заявки/записи в группу",
      "description": "\"Заявка\" в системе - это запись ученика в группу.\n\nПодробнее о работе с записями в группу в CRM: https://help.moyklass.com/hc/ru/sections/115002025887\n\nПодробнее о разнице между учеником и записью в группу: https://help.moyklass.com/hc/ru/articles/360011599159\n"
    },
    {
      "name": "subscriptions",
      "x-displayName": "Виды абонементов"
    },
    {
      "name": "userSubscriptions",
      "x-displayName": "Абонементы учеников"
    },
    {
      "name": "tasks",
      "x-displayName": "Задачи"
    },
    {
      "name": "groups",
      "x-displayName": "Группы"
    },
    {
      "name": "lessons",
      "x-displayName": "Занятия"
    },
    {
      "name": "catalog",
      "x-displayName": "Справочники"
    },
    {
      "name": "files",
      "x-displayName": "Файлы"
    },
    {
      "name": "userComments",
      "x-displayName": "Комментарии учеников"
    },
    {
      "name": "userAuth",
      "x-displayName": "Авторизация"
    },
    {
      "name": "userLessons",
      "x-displayName": "Занятия"
    },
    {
      "name": "userCommon",
      "x-displayName": "Ученики"
    },
    {
      "name": "userPayments",
      "x-displayName": "Платежи и списания"
    },
    {
      "name": "inProgress",
      "x-displayName": "В разработке",
      "description": "Методы, которые еще не реализованы и в данный момент находятся в разработке"
    },
    {
      "name": "userFiles",
      "x-displayName": "Файлы"
    },
    {
      "name": "documents",
      "x-displayName": "Документы"
    },
    {
      "name": "cashboxes",
      "x-displayName": "Кассы"
    }
  ],
  "paths": {
    "/v1/company/auth/getToken": {
      "post": {
        "tags": [
          "companyAuth"
        ],
        "summary": "Получение токена",
        "description": "Авторизация. Получение токена для работы с API.\nКлючи API вы можете создавать и просматривать в разделе CRM [\"Мой Класс\" - \"Настройки - API\"](https://app.moyklass.com/settings/settings/api).\n\n[Подробнее](https://help.moyklass.com/hc/ru/articles/360027261934-%D0%A0%D0%B0%D0%B1%D0%BE%D1%82%D0%B0-%D1%81-API).\n",
        "security": [],
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$api_key = 'Oul76YVXXQnH3YWWidkDaHyoUBGHCOyOO0oky7y6T1EJBAWnEi'; //Ваш ключ доступа\n$url_auth = 'https://api.moyklass.com/v1/company/auth/getToken';\n$post_auth = array(\n  'apiKey' => $api_key\n);\n$curl = curl_init();\ncurl_setopt($curl, CURLOPT_CUSTOMREQUEST,\"POST\");\ncurl_setopt($curl, CURLOPT_URL, $url_auth);\ncurl_setopt($curl, CURLOPT_POSTFIELDS, json_encode($post_auth));\ncurl_setopt($curl, CURLOPT_HTTPHEADER, array('Content-Type: application/json'));\ncurl_setopt($curl, CURLOPT_RETURNTRANSFER, true);\n$out = curl_exec($curl);\ncurl_close($curl);\n$response = json_decode($out, true);\n$access_token = $response['accessToken'];\nprint_r($access_token)\n"
          }
        ],
        "requestBody": {
          "description": "Параметры авторизации",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyAuth"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Токен доступа",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/auth/refreshToken": {
      "post": {
        "tags": [
          "companyAuth"
        ],
        "summary": "Обновление токена",
        "description": "Генерирует новый токен, текущий токен при этом продолжает действовать.",
        "responses": {
          "200": {
            "description": "Новый токен доступа",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              }
            }
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/auth/revokeToken": {
      "post": {
        "tags": [
          "companyAuth"
        ],
        "summary": "Удаление токена",
        "description": "Удаляет существующий токен. Токен передается в заголовке **x-access-token**",
        "responses": {
          "204": {
            "description": "Токен удален"
          },
          "401": {
            "description": "Ошибка авторизации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/users": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Список учеников",
        "description": "Производит поиск учеников в соответствии с фильтром",
        "parameters": [
          {
            "$ref": "#/components/parameters/createdAt"
          },
          {
            "$ref": "#/components/parameters/updatedAt"
          },
          {
            "$ref": "#/components/parameters/stateChangedAt"
          },
          {
            "$ref": "#/components/parameters/phone"
          },
          {
            "$ref": "#/components/parameters/email"
          },
          {
            "$ref": "#/components/parameters/name"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "sort",
            "description": "Сортировка",
            "in": "query",
            "example": "createdAt",
            "schema": {
              "default": "id",
              "type": "string",
              "enum": [
                "id",
                "name",
                "createdAt",
                "updatedAt"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/sortDirection"
          },
          {
            "$ref": "#/components/parameters/amoCRMContactId"
          },
          {
            "$ref": "#/components/parameters/bitrixContactId"
          },
          {
            "$ref": "#/components/parameters/includePayLink"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "PHP",
            "source": "$access_token = 'Ваш accessToken';\n$url = 'https://api.moyklass.com/v1/company/users?phone=79221&limit=4';\n$curl = curl_init();\ncurl_setopt($curl, CURLOPT_URL, $url);\ncurl_setopt($curl, CURLOPT_HTTPHEADER, array(\n        \"x-access-token:\" . $access_token,\n        \"Content-Type: application/json\"\n));\ncurl_setopt($curl, CURLOPT_RETURNTRANSFER, true);\n$out = curl_exec($curl);\ncurl_close($curl);\n$response = json_decode($out, true);\nprint_r($response);\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Список учеников",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Users"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка в параметрах фильтра",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Создание ученика",
        "description": "Создает нового ученика",
        "requestBody": {
          "description": "Информация об ученике",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Данные созданного ученика",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/users/{userId}": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Информация об ученике",
        "description": "Возвращает основную информацию об ученике",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID ученика",
            "example": 123456,
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "$ref": "#/components/parameters/includeJoins"
          },
          {
            "$ref": "#/components/parameters/includePayLink"
          }
        ],
        "responses": {
          "200": {
            "description": "Данные ученика",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/User"
                    },
                    {
                      "properties": {
                        "joins": {
                          "description": "Заявки ученика (при includeJoins=true)",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Join"
                          }
                        },
                        "payLinkKey": {
                          "description": "Ключ оплаты (при includePayLink=true)",
                          "type": "string",
                          "example": "0047245cc1bc74076d704e20000be5aaa798e432"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Ученик не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Изменение ученика",
        "description": "Изменяет основную информацию об ученике",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID ученика",
            "example": 123456,
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Обновленная информация об ученике",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновленные данные ученика",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Ученик не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "users"
        ],
        "summary": "Удаление ученика",
        "description": "Удаляет ученика из системы. Вместе с ним удаляет также все его записи, платежи, документы и т.д.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID ученика",
            "example": 123456,
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Ученик удален"
          },
          "404": {
            "description": "Ученик не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/payments": {
      "get": {
        "tags": [
          "payments"
        ],
        "summary": "Платежи",
        "description": "Возвращает список заявок платежей",
        "parameters": [
          {
            "$ref": "#/components/parameters/createdAt"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Дата платежа. Если указана одна дата, то происходит поиск только по одной дате. Если указаны 2 даты, то производится поиск по диапазону",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "maxLength": 2,
              "items": {
                "type": "string",
                "format": "date"
              }
            },
            "example": "2019-01-01"
          },
          {
            "name": "summa",
            "in": "query",
            "description": "Сумма платежа. Списания и возвраты указываются с минусом.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "maxLength": 2,
              "items": {
                "type": "number"
              }
            }
          },
          {
            "name": "invoiceId",
            "in": "query",
            "description": "Id счета",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "optype",
            "in": "query",
            "description": "Тип операции. income - входящий платеж, debit - списание, refund - возврат",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "maxLength": 3,
              "items": {
                "type": "string",
                "enum": [
                  "income",
                  "debit",
                  "refund"
                ]
              }
            }
          },
          {
            "name": "paymentTypeId",
            "in": "query",
            "description": "Тип платежа",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/includeUserSubscriptions"
          },
          {
            "$ref": "#/components/parameters/userId"
          },
          {
            "$ref": "#/components/parameters/filialId"
          },
          {
            "name": "appendInvoices",
            "in": "query",
            "description": "Возвратить вместе с платежами данные счетов",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Список платежей",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPaymentsExtended"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "payments"
        ],
        "summary": "Создание платежа",
        "description": "Добавляет платеж клиенту. В этом методе можно добавить входящий платеж (income) и возврат (refund)",
        "requestBody": {
          "description": "Информация о платеже",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPaymentExtended"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Данные созданного платежа",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPaymentExtended"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка на стороне сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/payments/{paymentId}": {
      "get": {
        "tags": [
          "payments"
        ],
        "summary": "Информация о платеже",
        "description": "Возвращает информацию о платеже",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "ID платежа",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Данные платежа",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPaymentExtended"
                }
              }
            }
          },
          "404": {
            "description": "Платеж не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "payments"
        ],
        "summary": "Изменение платежа",
        "description": "Изменяет платеж. Применяется только к приходам (optype=income), для других типов платежей будет возвращен код 403",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "ID платежа",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Обновленная информация по платежу",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPaymentExtendedEdit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновленные данные платежа",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPaymentExtended"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Платеж не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "payments"
        ],
        "summary": "Удаление платежа",
        "description": "Удаляет платеж из системы.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "Id платежа",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Платеж удален"
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Платеж не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/invoices": {
      "get": {
        "tags": [
          "invoices"
        ],
        "summary": "Счета",
        "description": "Возвращает список счетов",
        "parameters": [
          {
            "$ref": "#/components/parameters/createdAt"
          },
          {
            "name": "payUntil",
            "in": "query",
            "description": "Срок оплаты счета. Если указана одна дата, то происходит поиск только по одной дате. Если указаны 2 даты, то производится поиск по диапазону",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "maxLength": 2,
              "items": {
                "type": "string",
                "format": "date"
              }
            },
            "example": "2019-01-01"
          },
          {
            "name": "price",
            "in": "query",
            "description": "Сумма счета.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "maxLength": 2,
              "items": {
                "type": "number"
              }
            }
          },
          {
            "name": "userSubscriptionId",
            "description": "ID абонемента ученика",
            "in": "query",
            "example": 123,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "joinId",
            "description": "ID записи в группу",
            "in": "query",
            "example": 123,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "$ref": "#/components/parameters/includeUserSubscriptions"
          },
          {
            "$ref": "#/components/parameters/userId"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Список счетов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInvoices"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/invoices/{invoiceId}": {
      "get": {
        "tags": [
          "invoices"
        ],
        "summary": "Информация о счете",
        "description": "Возвращает информацию о счете",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "ID счета",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Данные счета",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInvoice"
                }
              }
            }
          },
          "404": {
            "description": "Счет не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "invoices"
        ],
        "summary": "Изменение счета",
        "description": "Изменяет счет",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "ID счета",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Обновленная информация по счету",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInvoiceEdit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновленные данные счета",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInvoice"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Счет не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "invoices"
        ],
        "summary": "Удаление счета",
        "description": "Удаляет счет из системы. Удаление возможно только если нет списаний по счету, иначе будет возвращен код 400",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "Id счета",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Счет удален"
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Счет не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/managers": {
      "get": {
        "tags": [
          "managers"
        ],
        "summary": "Список сотрудников",
        "description": "Возвращает список сотрудников",
        "responses": {
          "200": {
            "description": "Список сотрудников",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Manager"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "managers"
        ],
        "summary": "Создание сотрудника",
        "description": "Создает нового сотрудника",
        "requestBody": {
          "description": "Информация о сотруднике",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Manager"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Созданный сотрудник",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manager"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/managers/{managerId}": {
      "get": {
        "tags": [
          "managers"
        ],
        "summary": "Информация о сотруднике",
        "description": "Возвращает информацию о сотруднике",
        "parameters": [
          {
            "name": "managerId",
            "in": "path",
            "description": "ID сотрудника",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Данные о сотруднике",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manager"
                }
              }
            }
          },
          "404": {
            "description": "Сотрудник не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "managers"
        ],
        "summary": "Удаление сотрудника",
        "description": "Удаляет сотрудника",
        "parameters": [
          {
            "name": "managerId",
            "in": "path",
            "description": "ID сотрудника",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Данные для удаления сотрудника",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "replaceToManagerId": {
                    "description": "ID сотрудника, на которого будут назначены все невыполненные задачи, предстоящие занятия, если они есть, и клиенты удаляемого сотрудника.",
                    "type": "integer",
                    "format": "int64",
                    "example": 2
                  }
                },
                "required": [
                  "replaceToManagerId"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Сотрудник удален"
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "404": {
            "description": "Сотрудник не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "managers"
        ],
        "summary": "Изменение сотрудника",
        "description": "Изменяет сотрудника",
        "parameters": [
          {
            "name": "managerId",
            "in": "path",
            "description": "ID сотрудника",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Новые данные сотрудника",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManagerEdit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновленные данные сотрудника",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manager"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Сотрудник не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/advSources": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Информационные источники",
        "description": "Возвращает список информационных источников",
        "responses": {
          "200": {
            "description": "Список информационных источников",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdvSource"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/createSources": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Способы заведения заявок",
        "description": "Возвращает список возможных способов заведения клиентов и заявок",
        "responses": {
          "200": {
            "description": "Список способов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CreateSource"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/statusReasons": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Причины изменения статуса",
        "description": "Возвращает причины изменения статуса записи",
        "parameters": [
          {
            "$ref": "#/components/parameters/reasonType"
          }
        ],
        "responses": {
          "200": {
            "description": "Список причин",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatusReason"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/filials": {
      "get": {
        "tags": [
          "company"
        ],
        "summary": "Филиалы компании",
        "description": "Возвращает список филиалов",
        "responses": {
          "200": {
            "description": "Список филиалов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Filial"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/userAttributes": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Признаки ученика",
        "description": "Возвращает список всех доступных признаков ученика",
        "responses": {
          "200": {
            "description": "Список признаков",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserAttribute"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/rooms": {
      "get": {
        "tags": [
          "company"
        ],
        "summary": "Аудитории",
        "description": "Аудитории компании",
        "responses": {
          "200": {
            "description": "Список аудиторий",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Room"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/courses": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "Программы",
        "parameters": [
          {
            "$ref": "#/components/parameters/includeClasses"
          },
          {
            "$ref": "#/components/parameters/includeImages"
          }
        ],
        "description": "Возвращает список программ обучения",
        "responses": {
          "200": {
            "description": "Список программ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Course"
                      },
                      {
                        "properties": {
                          "classes": {
                            "description": "Группы (при includeClasses=true)",
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Class"
                            }
                          },
                          "images": {
                            "description": "Изображения (при includeImages=true)",
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Image"
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/classes": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "Группы",
        "parameters": [
          {
            "$ref": "#/components/parameters/includeImages"
          },
          {
            "$ref": "#/components/parameters/includeAttributes"
          }
        ],
        "description": "Возвращает список групп (наборов)",
        "responses": {
          "200": {
            "description": "Список групп",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Class"
                      },
                      {
                        "properties": {
                          "images": {
                            "description": "Изображения (при includeImages=true)",
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Image"
                            }
                          },
                          "attributes": {
                            "description": "Признаки группы (при includeAttributes=true)",
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/ClassAttributeValue"
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/classes/{classId}": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "Информация о группе",
        "description": "Возвращает основную информацию о группе",
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "description": "ID группы",
            "example": 123456,
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "$ref": "#/components/parameters/includeAttributes"
          }
        ],
        "responses": {
          "200": {
            "description": "Данные группы",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Class"
                    },
                    {
                      "properties": {
                        "attributes": {
                          "description": "Признаки группы (при includeAttributes=true)",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ClassAttributeValue"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Группа не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/classes/{classId}/attribute/{attributeId}": {
      "post": {
        "tags": [
          "groups"
        ],
        "summary": "Изменение атрибута группы",
        "description": "Изменяет информацию в атрибутах группы",
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "description": "ID группы",
            "example": 123456,
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "attributeId",
            "in": "path",
            "description": "ID атрибута или его alias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Новое значение атрибута",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "title": "Атрибут прочих типов",
                    "required": [
                      "value"
                    ],
                    "properties": {
                      "value": {
                        "description": "Значение атрибута. При передаче null атрибут удаляется.",
                        "oneOf": [
                          {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                          },
                          {
                            "type": "boolean",
                            "nullable": true
                          },
                          {
                            "type": "string",
                            "nullable": true
                          }
                        ],
                        "example": false
                      }
                    }
                  },
                  {
                    "type": "object",
                    "title": "Атрибут типа select",
                    "required": [
                      "valueId"
                    ],
                    "properties": {
                      "valueId": {
                        "description": "ID значения атрибута (если тип атрибута select). При передаче null атрибут удаляется.",
                        "type": "integer",
                        "format": "int64",
                        "nullable": true,
                        "example": 150
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Обновленные данные группы",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Группа не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/classAttributes": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "Признаки группы",
        "description": "Возвращает список всех доступных признаков группы",
        "responses": {
          "200": {
            "description": "Список признаков",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClassAttribute"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/lessons/{lessonId}/task/{type}/files": {
      "post": {
        "tags": [
          "lessons"
        ],
        "summary": "Добавление файла задания на занятие",
        "description": "Добавляет файл задания на занятие",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID занятия",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Тип задания (Домашнее / за занятие)",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "home",
                "lesson"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Файл",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadFile"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Файл добавлен"
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Задание или занятие не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "413": {
            "description": "Файл слишком большой",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "lessons"
        ],
        "summary": "Список файлов задания",
        "description": "Возвращает массив файлов прикрепленных к заданию",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID занятия",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Тип задания (Домашнее / за занятие)",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "home",
                "lesson"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список файлов прикрепленных к заданию",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LessonFile"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Задание или занятие не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/lessons/{lessonId}/task/{type}": {
      "post": {
        "tags": [
          "lessons"
        ],
        "summary": "Создание/изменение задания на занятие",
        "description": "Создает или, если уже создано, изменяет задание на занятие",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID занятия",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Тип задания (Домашнее / за занятие)",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "home",
                "lesson"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Данные задания",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LessonTaskEdit"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Задание обновлено/добавлено"
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Задание или занятие не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "lessons"
        ],
        "summary": "Удаление задания на занятие",
        "description": "Удаляет задание из системы.",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID занятия",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Тип задания (Домашнее / за занятие)",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "home",
                "lesson"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Задание удалено"
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Задание или занятие не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/lessons/{lessonId}/answer": {
      "post": {
        "tags": [
          "lessons"
        ],
        "summary": "Создание ответа на задание",
        "description": "Создает ответ на задание",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID занятия",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Данные ответа",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskAnswer"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Ответ добавлен"
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Занятие не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/lessons/{lessonId}/answer/{answerId}": {
      "get": {
        "tags": [
          "lessons"
        ],
        "summary": "Получение ответа на задание",
        "description": "Возвращает ответ на задание",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID занятия",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "answerId",
            "in": "path",
            "description": "ID ответа",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ответ на задание",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskAnswer"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Занятие или ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "lessons"
        ],
        "summary": "Редактирование ответа на задание",
        "description": "Редактирует ответ на задание",
        "security": [
          {
            "userSession": [],
            "xCookieToken": [],
            "xCsrfToken": []
          },
          {
            "userOAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID занятия",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "answerId",
            "in": "path",
            "description": "ID ответа",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Редактируемые данные ответа",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskAnswerEdit"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Ответ добавлен"
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Занятие или ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "lessons"
        ],
        "summary": "Удаление ответа на задание",
        "description": "Удаляет ответ на задание",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID занятия",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "answerId",
            "in": "path",
            "description": "ID ответа",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Ответ удален"
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Занятие или ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/lessons/{lessonId}/answer/{answerId}/status": {
      "post": {
        "tags": [
          "lessons"
        ],
        "summary": "Смена статуса ответа на задание",
        "description": "Меняет статус ответа на задание",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID занятия",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "answerId",
            "in": "path",
            "description": "ID ответа",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Данные статуса",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskAnswerStatus"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Ответ добавлен"
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Занятие или ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/lessons/{lessonId}/answer/{answerId}/comment": {
      "post": {
        "tags": [
          "lessons"
        ],
        "summary": "Создание комментария к ответу на задание",
        "description": "Создает комментарий к ответу на задание",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID занятия",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "answerId",
            "in": "path",
            "description": "ID ответа",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Данные ответа",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskAnswerCommentCreate"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Комментарий добавлен"
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Занятие или ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/lessons/{lessonId}/answer/{answerId}/files": {
      "post": {
        "tags": [
          "lessons"
        ],
        "summary": "Прикрепление файла к ответу на задание",
        "description": "Прикрепляет файл к ответу на задание",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID занятия",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "answerId",
            "in": "path",
            "description": "ID ответа",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Данные файла",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskAnswerFileCreate"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Файл прикреплен"
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Занятие или ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/lessons/{lessonId}/answer/{answerId}/files/{fileId}": {
      "delete": {
        "tags": [
          "lessons"
        ],
        "summary": "Удаление файла к ответу на задание",
        "description": "Удаляет файла к ответу на задание",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID занятия",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "answerId",
            "in": "path",
            "description": "ID ответа",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "ID файла",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Файл удален"
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Занятие или ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/lessons/{lessonId}/answer/{answerId}/comment/{commentId}": {
      "delete": {
        "tags": [
          "lessons"
        ],
        "summary": "Удаление комментария к ответу на задание",
        "description": "Удаляет комментарий к ответу на задание",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID занятия",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "answerId",
            "in": "path",
            "description": "ID ответа",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "description": "ID комментария",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Комментарий удален"
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Занятие или ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/lessons/{lessonId}/mark/{type}/{userId}": {
      "post": {
        "tags": [
          "lessons"
        ],
        "summary": "Создание/изменение оценки за занятие",
        "description": "Создает или, если уже создано, изменяет оценку на занятие",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID занятия",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "ID пользователя",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Тип оценки (За дз / за занятие)",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "home",
                "lesson"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Данные оценки",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LessonMarkEdit"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Оценка обновлена/добавлена"
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Оценка или занятие не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "lessons"
        ],
        "summary": "Удаление оценки за занятие",
        "description": "Удаляет оценку из системы.",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID занятия",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "ID пользователя",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "Тип оценки (За дз / за занятие)",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "home",
                "lesson"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Оценка удалена"
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Оценка или занятие не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/lessons": {
      "get": {
        "tags": [
          "lessons"
        ],
        "summary": "Занятия",
        "description": "Возвращает список занятий",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Дата проведения занятий. Если указана одна дата, то происходит поиск только по одной дате. Если указаны 2 даты, то производится поиск по диапазону",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "maxLength": 2,
              "items": {
                "type": "string",
                "format": "date"
              }
            },
            "example": "2019-01-01"
          },
          {
            "$ref": "#/components/parameters/lessonId"
          },
          {
            "$ref": "#/components/parameters/roomId"
          },
          {
            "$ref": "#/components/parameters/filialId"
          },
          {
            "$ref": "#/components/parameters/classId"
          },
          {
            "$ref": "#/components/parameters/teacherId"
          },
          {
            "$ref": "#/components/parameters/lessonStatusId"
          },
          {
            "$ref": "#/components/parameters/lessonUserId"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/includeRecords"
          },
          {
            "$ref": "#/components/parameters/includeWorkOffs"
          },
          {
            "$ref": "#/components/parameters/includeMarks"
          },
          {
            "$ref": "#/components/parameters/includeTasks"
          },
          {
            "$ref": "#/components/parameters/includeTaskAnswers"
          },
          {
            "$ref": "#/components/parameters/includeUserSubscriptions"
          },
          {
            "$ref": "#/components/parameters/includeParams"
          }
        ],
        "responses": {
          "200": {
            "description": "Список занятий",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lessons"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "lessons"
        ],
        "summary": "Создание занятия",
        "description": "Создает занятие",
        "parameters": [
          {
            "$ref": "#/components/parameters/includeParams"
          }
        ],
        "requestBody": {
          "description": "Данные занятия",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "date": {
                    "description": "Дата занятия",
                    "type": "string",
                    "format": "date",
                    "example": "2022-02-22T00:00:00.000Z"
                  },
                  "comment": {
                    "description": "Комментарий к занятию",
                    "nullable": true,
                    "type": "string"
                  },
                  "topic": {
                    "description": "Тема занятия",
                    "nullable": true,
                    "type": "string"
                  },
                  "description": {
                    "description": "Описание занятия",
                    "nullable": true,
                    "type": "string"
                  },
                  "beginTime": {
                    "description": "Время начала",
                    "type": "string",
                    "pattern": "^(?:(?:[01][0-9])|(?:2[0-3])):[0-5][0-9]$",
                    "example": "08:30"
                  },
                  "endTime": {
                    "description": "Время окончания",
                    "type": "string",
                    "pattern": "^(?:(?:[01][0-9])|(?:2[0-3])):[0-5][0-9]$",
                    "example": "09:15"
                  },
                  "filialId": {
                    "description": "ID филиала компании",
                    "type": "integer",
                    "format": "int64",
                    "example": 10
                  },
                  "roomId": {
                    "description": "ID аудитории/зала",
                    "type": "integer",
                    "format": "int64",
                    "example": 505
                  },
                  "maxStudents": {
                    "description": "Максимально допустимое количество учеников на занятии.\n\n  * `0` – не ограничено\n",
                    "nullable": true,
                    "type": "integer",
                    "format": "int64",
                    "example": 30,
                    "minimum": 0,
                    "default": 0
                  },
                  "classId": {
                    "description": "ID группы",
                    "type": "integer",
                    "format": "int64",
                    "example": 171331
                  },
                  "params": {
                    "description": "Дополнительные параметры",
                    "type": "object",
                    "properties": {
                      "video": {
                        "description": "Видео к занятию",
                        "nullable": true,
                        "type": "object",
                        "properties": {
                          "value": {
                            "description": "Ссылка на видео",
                            "pattern": "^(http:\\/\\/www\\.|https:\\/\\/www\\.|http:\\/\\/|https:\\/\\/)?[a-z0-9]+([\\-\\.]{1}[a-z0-9]+)*\\.[a-z]{2,5}(:[0-9]{1,5})?(\\/.*)?$",
                            "type": "string"
                          },
                          "visible": {
                            "description": "Показывать ли ученику",
                            "type": "boolean",
                            "default": true
                          },
                          "description": {
                            "description": "Описание",
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "webinar": {
                        "description": "Ссылка на вебинар",
                        "nullable": true,
                        "type": "object",
                        "properties": {
                          "value": {
                            "description": "Ссылка на вебинар",
                            "pattern": "^(http:\\/\\/www\\.|https:\\/\\/www\\.|http:\\/\\/|https:\\/\\/)?[a-z0-9]+([\\-\\.]{1}[a-z0-9]+)*\\.[a-z]{2,5}(:[0-9]{1,5})?(\\/.*)?$",
                            "type": "string"
                          },
                          "visible": {
                            "description": "Показывать ли ученику",
                            "type": "boolean",
                            "default": true
                          },
                          "description": {
                            "description": "Описание",
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "required": [
                          "value"
                        ]
                      },
                      "lessonSettings": {
                        "$ref": "#/components/schemas/LessonSettings"
                      }
                    }
                  },
                  "userId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "ID ученика. Только для индивидуальных занятий."
                  },
                  "lessonRecord": {
                    "type": "object",
                    "description": "Данные записи. Только для индивидуальных занятий.",
                    "properties": {
                      "free": {
                        "description": "Бесплатная запись (посещение для ученика будет бесплатным)",
                        "type": "boolean",
                        "default": false,
                        "example": true
                      },
                      "test": {
                        "description": "Пробная запись на занятие",
                        "default": false,
                        "type": "boolean"
                      },
                      "missedLessonRecordId": {
                        "description": "Id записи на пропущенное занятие (для создания отработки). В случае использования, параметры free и test берутся у пропущенного занятия.",
                        "type": "number"
                      }
                    }
                  },
                  "teacherIds": {
                    "description": "ID преподавателей. Обязательно для индивидуальных занятий.",
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    }
                  }
                },
                "required": [
                  "date",
                  "beginTime",
                  "endTime",
                  "filialId",
                  "roomId",
                  "classId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Данные созданного занятия",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lesson"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Группа не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company/lessons/{lessonId}": {
      "get": {
        "tags": [
          "lessons"
        ],
        "summary": "Информация о занятии",
        "description": "Возвращает информацию о занятии",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID занятия",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "$ref": "#/components/parameters/includeRecords"
          },
          {
            "$ref": "#/components/parameters/includeWorkOffs"
          },
          {
            "$ref": "#/components/parameters/includeMarks"
          },
          {
            "$ref": "#/components/parameters/includeTasks"
          },
          {
            "$ref": "#/components/parameters/includeTaskAnswers"
          },
          {
            "$ref": "#/components/parameters/includeParams"
          }
        ],
        "responses": {
          "200": {
            "description": "Данные занятия",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lesson"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "lessons"
        ],
        "summary": "Удаление занятия",
        "description": "Удаляет занятие",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID занятия",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Занятие удалено"
          },
          "402": {
            "description": "Ограничения лицензии",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseRestricts"
                }
              }
            }
          },
          "404": {
            "description": "Занятие не найдено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorHandling"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "lessons"
        ],
        "summary": "Изменение занятия",
        "description": "Изменяет занятие",
        "parameters": [
          {
            "name": "lessonId",
            "in": "path",
            "description": "ID занятия",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "$ref": "#/components/parameters/includeParams"
          }
        ],
        "requestBody": {
          "description": "Данные занятия",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "date": {
                    "description": "Дата занятия",
                    "type": "string",
                    "format": "date",
                    "example": "2022-02-22T00:00:00.000Z"
                  },
                  "comment": {
                    "description": "Комментарий к занятию",
                    "nullable": true,
                    "type": "string"
                  },
                  "topic": {
                    "description": "Тема занятия",
                    "nullable": true,
                    "type": "string"
                  },
                  "description": {
                    "description": "Описание занятия",
                    "nullable": true,
                    "type": "string"
                  },
                  "beginTime": {
                    "description": "Время начала",
                    "type": "string",
                    "pattern": "^(?:(?:[01][0-9])|(?:2[0-3])):[0-5][0-9]$",
                    "example": "08:30"
                  },
                  "endTime": {
                    "description": "Время окончания",
                    "type": "string",
                    "pattern": "^(?:(?:[01][0-9])|(?:2[0-3])):[0-5][0-9]$",
                    "example": "09:15"
                  },
                  "filialId": {
                    "description": "ID филиала компании",
                    "type": "integer",
                    "format": "int64",
                    "example": 10
                  },
                  "roomId": {
                    "description": "ID аудитории/зала",
                    "type": "integer",
                    "format": "int64",
                    "example": 505
                  },
                  "maxStudents": {
                    "description": "Максимально допустимое количество учеников на занятии",
                    "nullable": true,
                    "type": "integer",
                    "format": "int64",
                    "example": 30
                  },
                  "status": {
                    "description": "Статус занятия\n\n  * `0` – Не проведено\n\n  * `1` – Проведено\n",
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ],
                    "default": 0
                  },
                  "params": {
                    "description": "Дополнительные параметры",
                    "type": "object",
                    "properties": {
                      "video": {
                        "description": "Видео к занятию",
                        "nullable": true,
                        "type": "object",
                        "properties": {
                          "value": {
                            "description": "Ссылка на видео",
                            "pattern": "^(http:\\/\\/www\\.|https:\\/\\/www\\.|http:\\/\\/|https:\\/\\/)?[a-z0-9]+([\\-\\.]{1}[a-z0-9]+)*\\.[a-z]{2,5}(:[0-9]{1,5})?(\\/.*)?$",
                            "type": "string"
                          },
[...]
